/.idea/.idea.advent-of-code.dir/.idea/encodings.xml
/AdventOfCode/.idea/.idea.AdventOfCode/.idea/encodings.xml
/.idea/.idea.advent-of-code.dir/.idea/indexLayout.xml
/AdventOfCode/.idea/.idea.AdventOfCode/.idea/indexLayout.xml
/AdventOfCode/Year2015/obj/project.assets.json
/AdventOfCode/Year2015/obj/project.nuget.cache
/AdventOfCode/Year2015/obj/project.packagespec.json
/AdventOfCode/Year2015/obj/rider.project.restore.info
/.idea/.idea.advent-of-code.dir/.idea/vcs.xml
/AdventOfCode/.idea/.idea.AdventOfCode/.idea/vcs.xml
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.AssemblyInfo.cs
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.AssemblyInfoInputs.cache
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.assets.cache
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.csproj.AssemblyReference.cache
/AdventOfCode/Year2015/obj/Year2015.csproj.nuget.dgspec.json
/AdventOfCode/Year2015/obj/Year2015.csproj.nuget.g.props
/AdventOfCode/Year2015/obj/Year2015.csproj.nuget.g.targets
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.GeneratedMSBuildEditorConfig.editorconfig
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.GlobalUsings.g.cs
/AdventOfCode/Year2015/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/AdventOfCode/Year2015/obj/Debug/net6.0/apphost
/AdventOfCode/Year2015/bin/Debug/net6.0/Year2015
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.csproj.CoreCompileInputs.cache
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.csproj.FileListAbsolute.txt
/AdventOfCode/Year2015/bin/Debug/net6.0/Year2015.deps.json
/AdventOfCode/Year2015/bin/Debug/net6.0/Year2015.dll
/AdventOfCode/Year2015/obj/Debug/net6.0/ref/Year2015.dll
/AdventOfCode/Year2015/obj/Debug/net6.0/refint/Year2015.dll
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.dll
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.genruntimeconfig.cache
/AdventOfCode/Year2015/bin/Debug/net6.0/Year2015.pdb
/AdventOfCode/Year2015/obj/Debug/net6.0/Year2015.pdb
/AdventOfCode/Year2015/bin/Debug/net6.0/Year2015.runtimeconfig.json
